<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.gender}}<br>
        </p>
        <p>
            {{ form.date_of_birth}}<br>
        </p>
        <p>
            {{ form.status}}<br>
        </p>
        <p>
            {{ form.purpose}}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>